%h1
  Projects

%ul
  - @projects.sort { |x,y| x.name <=> y.name }.each do |project|
    %li
      %h2
      = project.name
      %br/
      %h3
        sources
      %ul
        - project.versions.each do |version|
          - pevents  = project.events_for_version(version)
          - psources = project.project_source_versions_for_version(version)
          %li
            %h4
              = "version " + version
            %br/
            %ul
              - psources.each do |ps|
                %li
                  = ps.source.uri
                  = ps.source_version
      %h3
        events
      %ul
        - project.events.each do |event|
          %li
            = event.process.humanize
            = (event.version != "" ? " on version #{event.version_qualifier} #{event.version}" : "")
            = (event.process_options != "" ? " with options #{event.process_options}" : "")
