- haml_tag(:projects) do
  - @projects.each do |project|
    - haml_tag(:project) do
      - haml_tag(:id) do
        = project.id
      - haml_tag(:name) do
        = project.name
      - haml_tag(:versions) do
        - project.versions.each do |version|
          - haml_tag(:version) do
            - haml_tag(:id) do
              = version
            - psources = project.projects_sources_for_version(version)
            - haml_tag(:sources) do
              - psources.each do |ps|
                - haml_tag(:source) do
                  - haml_tag(:uri) do
                    = ps.source.uri
                  - haml_tag(:version) do
                    = ps.source_version
            - pevents  = project.events_for_version(version)
            - haml_tag(:events) do
              - pevents.each do |event|
                - haml_tag(:event) do
                  - haml_tag(:process) do
                    = event.process
                  - haml_tag(:process_options) do
                    = event.process_options
                  - haml_tag(:version_qualifier) do
                    = event.version_qualifier
                  - haml_tag(:version) do
                    = event.version
